$text_color: #777F90;
$white_color: #FFFFFF;
$black_color: #292D32;
$gray_color: #E6EAEE;
$primary_color: #7209B7;
$secondary_color: #f72585;
$info_color: #2A85FF;
$success_color: #0F9D58;
$warning_color: #F4B400;
$danger_color: #FF6A55;